#test{
	border-style: solid;
	border-color: #0AA89E;
	height: 100%;
	width: 100%;
	cursor: crosshair;
	padding-top: 1px;
}

#colores
{
	padding: 3px;
}

#monitoreo
{
	border-style: solid;
	border-color: #0AA89E;
	
	cursor: crosshair;
	

}

	/*
	height: 100%;
	width: 100%;	
	cursor: crosshair;
	border-style: solid;
	padding-top: 1px;
	background-image: url('../img/cuadro_monitoreo.png');
	background-repeat: no-repeat;
	background-size: 100%;
	border-color: #0AA89E;
	
	
	background-size: 100%;
	
	
	
	
	*/
	
	
}


