#test{
	border-style: solid;
	border-color: #0AA89E;
	height: 100%;
	width: 100%;
	cursor: crosshair;
	padding-top: 1px;
}

#colores
{
	padding: 3px;
}

#monitoreo
{
	border-style: solid;
	border-color: #0AA89E;
	
	cursor: crosshair;
	

}



#foto:hover {
	opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    position: absolute;
    
}
#foto:hover #drop-foto{
	display: block;
}

	
}


