#test{
	border-style: solid;
	border-color: #0AA89E;
	height: 100%;
	width: 100%;
	cursor: crosshair;
	padding-top: 1px;
}

#colores
{
	padding: 3px;
}

#monitoreo
{
	/*height: 100%;
	width: 100%;*/
	cursor: crosshair;
	border-style: solid;
	border-color: #0AA89E;
	background-image: url('../img/cuadro_monitoreo.png');
	background-size: 100% 100%;
	
	
	
}


